<?xml version="1.0"?>
<robot name="kcare" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find kcare_description)/robots/common/materials.xacro"/>

<xacro:macro name="common_link" params="
  name 
  inertial_origin:='0 0 0' 
  mass:='0.5' 
  ixx:='0.002' iyy:='0.002' izz:='0.002' 
  ixy:='0.0' iyz:='0.0' ixz:='0.0' 
  mesh_file 
  scale:='0.001 0.001 0.001' 
  material:='kcare_silver'">

  <!-- <xacro:macro name="common_link" params="name inertial_origin mass ixx iyy izz ixy iyz ixz mesh_file scale:='0.001 0.001 0.001' material:=silver"> -->
    <link name="${name}">
      <inertial>
        <origin xyz="${inertial_origin}" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <inertia 
          ixx="${ixx}" iyy="${iyy}" izz="${izz}" 
          ixy="${ixy}" iyz="${iyz}" ixz="${ixz}"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${mesh_file}" scale="${scale}"/>
        </geometry>
        <material name="${material}"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${mesh_file}" scale="${scale}"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>